*
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}
ul
{
	list-style-type: none;
}
a
{
	text-decoration: none;
}
.container
{   
	width: 100% ;
	padding: 0 15px;
	max-width: 1410px;
	margin: 0 auto;
}
.container-flex
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container-flex-start
{
	display: flex;
	align-items: start;
	justify-content: space-between;
}
.g-btn
{
	height: 47px;
	border-radius: 30px;
	background: #FA722C;
	text-align: center;
	padding: 0 22px;
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.g-flex
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.g-title
{
	color: #373737;
  	font-family: Captura Now;
	font-size: 40px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.8px;
}
header
{
	position: relative;
	background: #74A1B6;
	padding-top: 20px;
}








